body {
  margin: 20px;
  font: 14px "Century Gothic", Futura, sans-serif;

  ol,
  ul {
    padding-left: 30px;
  }
}

.game {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  .game-info {
    margin-left: 20px;

    button {
      &.is-current {
        font-weight: bold;
      }
    }
  }

  .game-board {
    display: grid;
    grid-template-columns: repeat(3, 35px);
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: #000;

    .square {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-width: 0px 0px 1px 1px;
      border-style: solid;
      border-color: #000;
      background: #fff;
      width: 34px;
      height: 34px;
      font-weight: bold;
      font-size: 24px;
      user-select: none;

      &.is-highlight {
        background: yellow;
      }
    }

    &.game-ended {
      .square {
        cursor: not-allowed;
      }
    }

    &.out-of-move {
      opacity: 0.5;
    }
  }
}
